@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');


html, body{
    background: #0c0c0c;
    font-family: 'Roboto', sans-serif;
    color:rgb(228, 222, 222);
}
h1{
    font-weight:lighter;
    letter-spacing: 6.5px;
    text-transform: uppercase;
}
canvas{
    border-radius: 6px;
    width: 800px;
    height: 600px;

}
.main_wrapper{
    display: flex;
    place-content: center;
    flex-direction: column;
    place-items: center;
    
}